CODEFORCES_API_KEY=
CODEFORCES_API_SECRET=
CODEFORCES_RANDOM_STRING=123456

HTTP_CORS_ORIGINS=http://localhost:3000,http://localhost:8080

KAFKA_BOOTSTRAP_SERVERS=localhost:29092
MONGODB_CONNECTION_STRING=mongodb://localhost:27017
OPENSEARCH_HOST=localhost
OPENSEARCH_PORT=9200
REDIS_HOSTS=redis://localhost:6379
